[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
boto3 = "*"
django-storages = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
simplejson = "*"
statsmodels = "*"
seaborn = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
