I would like to analyze our historical data and put together projections for the future. 
If we could create a dashboard linked to my google sheets that would be awesome - link to google sheet: 
https://docs.google.com/spreadsheets/d/10-UC5k-LCe0UxqFpgi2Ccgb5WVpppwqRNV5nueF1ymk/edit?usp=sharing